<html>
	<head>
		<script src="account.js" type="module"></script>
		<link href="bootstrap-5.2.2-dist\css\bootstrap.css" rel="stylesheet" />
		<link rel="stylesheet" href="forumstyle.css" />
		<script src="bootstrap-5.2.2-dist\js\bootstrap.js" ></script>
	</html>
	<body class="background d-flex">
		<div class="m-auto d-flex flex-column bg-dark" id="login-container">
			<div class="m-auto WebsiteTitle" id="login-title">Welcome, <b><%=username%></div>
			<div class="m-auto WebsiteTitle text-white" id=login-subtitle">Your stats:</div>
			<ul>
				<li>You've made <%=numposts%> posts</li>
				<li>You've received on average <%=avlikes%> likes per post</li>
				<li>You've received on average <%=avdislikes%> dislikes per post</li>
				<li>You've received on average <%=avcomments%> comments per post</li>
			</ul>
		</div>
	</body>
</html>